body{
    background: linear-gradient(-100deg, #80de54 0%, #7fd279 100%);
    font-family: "Serif", "Garamond";
}

.infoAboutPerson{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0.2em;
}

#usernameExc{
    font-size: 20px;
    font-weight: bold;
    margin-top: 0.9em;
}

#userPhoto{
    width: 3em;
    height: 3em;
    padding-left: 1em;
    margin-top: 0.2em;
}

#btnLogOut{
    height: 1.2em;
    width: 5em;
    margin-left: 1em;
    margin-top: 0.3em;
}

button{
    position: relative;
    margin-top: 0.8em;
    width: 12em;
    font-family: "Serif", "Garamond";
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #308d11;
    background-color: #5ad42a;
}

button:hover{
    background-color: #3edd3e;
}

button:active {
    background-color: #3edd3e;
    box-shadow: 0 5px #5ad42a;
    transform: translateY(4px);
}

img{
    height: 30em;
    width: 40em;
    margin: 1em;
}

.allComments{
    position: absolute;
    top: 395em;
}

.rating{
    display: flex;
    flex-direction: row;
    margin-top: -5em;
    gap: 2em;
}

#btnRate{
    height: 50px;
    margin-top: 3em;
    margin-left: 1em;
}

.reviewStars{
    margin-top: 6em;
    margin-left: 1em;
}

.navExc{
    display: flex;
    flex-direction: row-reverse;
    gap:41em;
}

.basicInfo{
    margin-top: -2em;
}

.basicInfoList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap:2em;
    margin-left: -1.9em;
    font-size: 20px;
}

.nameOfExc{
    font-size: 50px;
}

h2{
    font-size: 27px;
    margin-left: 0.2em;
}

h3{
    font-size: 24px;
    margin-left: 0.2em;
}

ul{
    list-style-type: none;
    margin-left: -1.5em;
    font-size: 22px;
}

p{
    margin-left: 0.2em;
    font-size: 22px;
}

table{
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
}

td{
    border-top: 1px solid black;
}

textarea{
    margin-top: -10em;
    border-radius: 10px;
    width: 30em;
    height: 3em;
    text-align: center;
}

.addComments{
    display: flex;
    flex-direction: column;
}

.usernameView{
    font-size: 25px;
    font-weight: bold;
}

.dateView{
    font-size: 14px;
    padding-top: 0.6em;
}

.commentView{
    font-size: 22px;
}

.usernameAndDateView{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.view{
    border: 2px solid #308d11;
    border-radius: 8px;
    margin-left: 0.2em;
    box-shadow: 0 3px #308d11;
}

.view:hover{
    background-color: #7fd452;
}

