body{
    background: linear-gradient(-100deg, #80de54 0%, #7fd279 100%);
    font-family: "Serif", "Garamond";
}

.navigationPart{
    display: flex;
    flex-direction: row;
    gap: 3em;
}

button{
    position: relative;
    margin-top: 0.8em;
    width: 12em;
    font-family: "Serif", "Garamond";
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #308d11;
    background-color: #5ad42a;
}

button:hover{
    background-color: #3edd3e;
}

button:active {
    background-color: #3edd3e;
    box-shadow: 0 5px  #5ad42a;
    transform: translateY(4px);
}

.infoAboutPerson{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1.5em;
}

#username{
    font-size: 20px;
    font-weight: bold;
}

#userPhoto{
    width: 3em;
    height: 3em;
    padding-left: 1em;
    margin-top: -2.5em;
}

img{
    width: 20em;
    height: 16em;
    padding: 3em;
}

.topPart{
    display: flex;
    align-items: center;
}

#btnLogOut{
    height: 1.2em;
    width: 5em;
    margin-left: 0.3em;
    margin-top: 0.3em;
}

li{
    /*border: 1px solid #1a5d02;*/
    /*border-radius: 10px;*/
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 4em;
}

li:hover{
    background-color: #99e776;
}

.excName{
    font-size: 40px;
    font-weight: bold;
    margin-top: 2em;
}

.basicInfo{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 20px;
    margin-top: -3em;
}

.excRoute{
    margin-top: -0.4em;
    font-size: 30px;
    font-weight: bold;
}

.excDescriptionFirstPart{
    display: flex;
    flex-direction: column;
    margin-top: -1em;
    margin-bottom: 2em;
    font-weight: bold;
    font-size: 25px;
}

.avgRating{
    margin-top: 0.3em;
}

.info{
    display: flex;
    flex-direction: column;
}

.excDescriptionSecondPart{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    font-weight: bold;
    margin-left: 1em;
    font-size: 20px;
}

.excType{
    margin-top: 3em;
}

.excEating{
    margin-top: 0.3em;
}

.excNightsNumber{
    margin-top: 0.3em;
}

table{
    border: 2px solid black;
    border-radius:10px;
    margin-top: 2em;
    margin-left: -15em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
}

.moreInfo{
    height: 3em;
    width: 10em;
}

.excPrice{
    font-size: 40px;
    margin-bottom: 0.5em;
}

.excBottomPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1em;
    margin-left: 10em;
}
