* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    font-size: 16px;
    background: rgb(173, 159, 247);
    background: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
    display: flex;
    justify-content: center;
    max-height: 500px;
}

#flutterHeader {
    font-weight: normal;
    font-size: 32px;
}

#login {
    font-weight: normal;
    font-size: 18px;
    color: #848694;
    margin-bottom: 2rem;
}

#flutter {
    border-radius: 8px;
    max-width: 32rem;
    width: 90%;
    background: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10rem;
    margin-bottom: 1rem;
    padding: 1.5rem 3rem 3rem 2rem;
}

#submit {
    background: rgb(84, 189, 214);
    border-radius: 12px;
    border: none;
    max-width: 10rem;
    padding: 0.4rem 2rem;
    color: white;
    float: right;
    font-size: 16px;
    margin-bottom: 1rem;
}

#email {
    border: none;
    border-bottom: rgb(227, 228, 249) 2px solid;
    width: 28rem;
    margin-bottom: 1rem;
}

#email:hover {
    border-bottom: rgb(121, 142, 225) 2px solid;
}

#password {
    border: none;
    border-bottom: rgb(227, 228, 249) 2px solid;
    width: 28rem;
    margin-bottom: 2rem;
}

#password:hover {
    border-bottom: rgb(121, 142, 225) 2px solid;
}

#createAccount {
    color: rgb(153, 161, 233);
    text-decoration: none;
}

#buttons {
    display: block;
    float: right;
}

@media (max-width: 890px) {    
    #flutterHeader {
        font-weight: normal;
        font-size: 2rem;
        margin-top: 0.7rem;
    }
    
    #login {
        font-weight: normal;
        font-size: 1.4rem;
        color: #848694;
        margin-bottom: 2rem;
        margin-top: -0.5rem;
    }
    
    #flutter {
        border-radius: 8px;
        max-width: 32rem;
        max-height: 30rem;
        background: white;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10rem;
        margin-bottom: 1rem;
        padding: 1.5rem 3rem 3rem 2rem;
    }
    
    #submit {
        background: rgb(84, 189, 214);
        border-radius: 12px;
        border: none;
        max-width: 10rem;
        padding: 0.4rem 2rem;
        color: white;
        float: right;
        font-size: 16px;
        margin-bottom: 1rem;
    }
    
    #email {
        border: none;
        border-bottom: rgb(227, 228, 249) 2px solid;
        width: 18rem;
        margin-bottom: 1rem;
    }
    
    #password {
        border: none;
        border-bottom: rgb(227, 228, 249) 2px solid;
        width: 18rem;
        margin-bottom: 2rem;
    }

}
